<IfModule mod_rewrite.c>
    RewriteEngine on
    Rewriterule ^phpmyadmin/.*$ - [PT]
    Rewriterule ^phpMemcachedAdmin/.*$ - [PT]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
